
/**
 * Ajuster la table à une certaine hauteur.
 * @author http://stackoverflow.com/a/23989771/1655155
 */
.fixed-height tbody {
    display:block;
    overflow-y: scroll;
    height: 400px;
}
.fixed-height thead, .fit tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.fixed-height thead {
    width: calc( 100% - 1em ); /* scrollbar width */
}
